# mainブランチへのpushでパッケージのリリース
name: Publish to NPM Registry

on:
  push:
    branches: [main]

jobs:
  publish:
    if: github.repository == 'gmo-internet/conoha_vps_mcp'
    runs-on: ubuntu-24.04

    permissions:
      contents: write
      packages: write
      id-token: write # for OIDC on npm publish

    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      # 1) ソース取得
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      # 2) バージョン抽出
      - name: Extract version and check if already published
        id: extract
        run: |
          VERSION="v$(jq -r '.version' package.json)"
          echo "VERSION=${VERSION}" >> $GITHUB_OUTPUT
          echo "Extracted version: ${VERSION}"

      # 3) Node セットアップ
      - name: Setup Node.js
        if: success()
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: "24.11.1"
          registry-url: "https://registry.npmjs.org/"

      # 4) npm 11.5.1以降が必要 TODO: delete when nodejs updates to v24
      - name: Update npm
        run: npm install -g npm@latest

      # 5) 依存インストール
      - name: Install dependencies
        if: success()
        run: npm ci

      # 6) ビルド
      - name: Build project
        if: success()
        run: npm run build

      # 7) mcpbファイルのビルド
      - name: Build mcpb
        if: success()
        run: npm run build:mcpb

      # 8) Release note作成
      - name: Generate release note
        if: success()
        run: gh release create ${{ steps.extract.outputs.VERSION }} --title ${{ steps.extract.outputs.VERSION }}

      # 9) mcpbファイルのアップロード
      - name: Add mcpb file to release note
        if: success()
        run: gh release upload ${{ steps.extract.outputs.VERSION }} conoha_vps_mcp.mcpb --clobber

      # 10) 公開
      - name: Publish to NPM Registry
        if: success()
        run: npm publish --provenance --access public
