name: renovate-config-validator

on:
  workflow_dispatch:
  pull_request:
    paths:
      - '.github/renovate.json5'
      - '.github/workflows/renovate-validator.yaml'

jobs:
  renovate-config-validator:
    timeout-minutes: 10
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Validate renovate.json
        run: npx --package=renovate@latest -c renovate-config-validator
