name: renovate-config-validator

on:
  workflow_dispatch:
  pull_request:
    paths:
      - '.github/renovate.json5'
      - '.github/workflows/renovate-validator.yaml'

jobs:
  renovate-config-validator:
    timeout-minutes: 10
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Validate renovate.json
        run: npx --package=renovate@latest -c renovate-config-validator
